

Pods/

.DS_Store

GoogleService-Info.plist
.xcuserstate
.xcbkptlist
*xcworkspace/xcuserdata/*
JTTD.xcodeproj/xcuserdata/jasonhoffman.xcuserdatad/xcschemes/xcschememanagement.plist
JTTD.xcodeproj/project.pbxproj
